In [4]:
import pandas as pd

In [5]:
supply = pd.read_csv("supply.csv",header = None,names = ['clientDocument','orderCod','orderItemCod'])
supply = supply.drop(0,axis=0)

In [6]:
supply['clientDocument'] = supply['clientDocument'].str.replace("#","")
supply

  clientDocument   orderCod orderItemCod
1    38611035836  774445552     14723357
2    10533730660  785295152     14812578
3    13836076802  716825852     14549685

In [7]:
supply.to_excel("fila_supply.xlsx")